@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background: rgb(30, 37, 43);
}

.nav {}

.logo {}

.title {}

.menu__list {}

.menu__item {}

.btn {}

@media(width <500px) {
    .nav {
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .menu__list {
        display: none;
    }

    .logo {
        width: 20%;

    }

    .title {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.9);
        font-family: Poppins;
        gap: 10px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;

    }

    body {}

    .btn__box {
        display: flex;

        gap: -10px;
    }

    .btn1 {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0);
        width: 68px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        position: relative;
        left: 5px;
        color: rgba(255, 255, 255, 0.78);
        font-family: Poppins;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        transition: all 500ms ease;
    }

    .btn2 {
        border-radius: 8px;
        background: rgb(255, 110, 48);
        width: 68px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(253, 245, 255);
        font-family: Poppins;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        transition: all 500ms ease;
    }

    .header__title {
        font-family: Poppins;
        font-size: 25px;
        width: 350px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        color: white;
        padding-top: 4rem;
        padding-left: 3.3rem;
    }

    .header__paragraph {
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
        width: 300px;

        padding: 1rem 3.3rem;
    }

    .input__text {
        border-radius: 15px;
        background: rgb(40, 48, 54);
        width: 250px;
        margin-left: 3rem;
        padding-left: 1.5rem;
        height: 40px;
        caret-color: rgb(255, 255, 255);
    }

    .input__text::placeholder {
        color: rgba(255, 255, 255, 0.38);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0%;
        text-align: left;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .input {
        display: flex;
        flex-direction: column;
    }


    .header__icons_box {
        display: flex;
        gap: 10px;
        padding: 1.5rem 3.3rem;
    }

    input {
        color: white;
        font-family: Poppins;
    }

    i {
        color: rgba(255, 255, 255, 0.78);
        font-size: 20px;
    }

    .body {
        overflow-x: hidden;


    }

    .section1__title {
        color: rgba(255, 255, 255, 0.9);
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 5rem;
    }

    main .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1__paragraph {
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 9px;
        padding-top: 0.5rem;
        width: 220px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    .section1__cards {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 40%;
        padding-top: 3rem;
    }

    .section1__icon {
        width: 20px;
    }

    .section1__card {
        display: flex;
        height: 150px;

    }

    .section1__card {
        display: flex;

    }

    .section1__icon1 {
        height: 25px;
        width: 18px;

    }

    .section1__icon2 {
        height: 22px;
        width: 25px;
    }

    .section1__icon3 {
        height: 25px;
        width: 25px;
    }

    .section1__icon4 {
        height: 25px;
        width: 25px;
    }

    .section1__icon5 {
        height: 25px;
        width: 25px;
    }

    .section1__icon6 {
        height: 25px;
        width: 25px;
    }

    .h1 {
        color: rgba(255, 255, 255, 0.78);
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        display: flex;
        align-items: start;
        /* FIGMA */
        position: relative;
        bottom: 10px;
        left: 15px;
    }

    .p {
        color: rgba(255, 165, 55, 0.55);
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
        position: relative;
        bottom: 27px;
        left: 15px;
    }

    .figma {
        color: rgba(255, 255, 255, 0.78);
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        display: flex;
        align-items: start;
        /* FIGMA */
        position: relative;
        bottom: 10px;
        left: 23px;
    }

    .free {
        color: rgba(255, 165, 55, 0.55);
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
        position: relative;
        bottom: 27px;
        left: 23px;
    }

    .section1__paragraph1 {
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
        width: 250px;
        position: relative;
        left: -26px;
        bottom: 30px;
    }

    .section1 i {
        position: relative;
        top: 80px;
        right: 275px;
        font-size: 18px;
    }

    .icons__box {
        display: flex;
        gap: 10px;
    }

    .section1 .aa {
        position: relative;
        right: 170px;
        top: 80px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }

    body::-webkit-scrollbar {
        width: 0;
    }

    body {
        touch-action: pan-y;



    }

    .section1__btn {
        color: rgb(255, 110, 48);
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        background: #00000000;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        margin-top: 20px;
        padding: 5px 8px;
    }

    .brands {
        display: none;
    }


    .section3__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 150px;
        padding-top: 3rem;

    }

    .section3__card {
        display: flex;
        height: 100px;
        margin-bottom: 30px;

    }

    .section3__icon1 {
        height: 25px;
        width: 25px;
    }

    .section3__icon2 {
        height: 25px;
        width: 25px;
    }

    .section3__icon3 {
        height: 25px;
        width: 25px;
    }

    .section3__icon4 {
        height: 25px;
        width: 25px;
    }

    .sct3_conent__card {}

    .h1 {}

    .p {}

    .section1__paragraph1 {}

    .icons3__box {}


}

.icons3__box {
    position: relative;
    top: 80px;
    right: 275px;
    font-size: 18px;
    display: flex;
    gap: 10px;
}

.section3 i {
    font-size: 16px;
}

.section3 a {
    position: relative;
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.section3__title {
    color: rgba(255, 255, 255, 0.9);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.section3__parargraph {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 9px;
    padding-top: 0.5rem;
    width: 220px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 1px;
}

.section3__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    margin-top: 50px;
}

.section3__btn {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    background: #00000000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 3px 8px;
    background-color: rgb(255, 110, 48);

}

.section4__img {
    width: 200px;
    transition: all 500ms ease;
    padding-top: 2rem;
    background: url(/src/images/circle.png)no-repeat;
    background-size: 170px;
    background-position-x: 12px;
    background-position-y: 100px;

}

.section4__img:hover {
    transform: scale(1.2);
}

.content__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4__paragraph {
    color: rgba(255, 255, 255, 0.78);
    font-family: poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5%;
    text-align: center;
    width: 200px;
    padding-top: 1rem;
}
.class {
    padding-left: 8px;
}
a{
    text-decoration: none;
    color: white;
}
.karoch {
    position: relative;
    left: 20px;
    bottom: 45px;
    width: 100px;
}

.Explore{
    position: relative;
    right: 100px;
}
.section3__btn{
    display: flex;
    justify-content: center;
    
    
}
.fefe{
    display: flex;
    justify-content: center;
}



































@media(width <300px) {
    .header__title {
        padding-left: 1.5rem;
        width: 240px;
    }

    .header__paragraph {
        padding: 1rem 1.5rem;
        width: 230px;
    }

    .input__text {
        margin-left: 1.3rem;
        width: 220px;
        padding-left: 0.7rem;
    }

    .header__icons_box {
        padding-left: 1.7rem;
    }

    i {
        font-size: 15px;
    }

    .btn1 {
        font-size: 12px;
    }

    .btn2 {
        font-size: 12px;
    }

    .section1__title {
        color: rgba(255, 255, 255, 0.9);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 5rem;
    }

    main .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .section1__paragraph {
        color: rgba(255, 255, 255, 0.55);
        font-family: Poppins;
        font-size: 8px;
        padding-top: 0.5rem;
        width: 210px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    .section1__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 55%;
        padding-top: 3rem;
    }

    .brands {
        display: none;
    }

    body {}
}